.HeaderContainer {
  height: 15vh;
}

.Header {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.topMenuContainer {
  margin-bottom: 3vh;
}

.rAddStudentButton {
  margin-top: 3vh !important;
}

.noClick {
  cursor: default !important;
}

.noClick:hover {
  background-color: initial !important;
}